.table-container {
    width: 100%;
    height: calc(100% - 30px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1%;
}

.input-fields-container {
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 14% 1%;
}

.input-field {
    position: relative;
    width: 100%;
    height: 100%;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(0, -50%);
    padding: 0 10px;
    color: #000000;
    pointer-events: none;
    transition: 0.3s;
}

.input-field input,
.input-field select {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    padding: 0 15px;
    border: 2px solid #000000;
    background: #ffffff;
    appearance: auto;
    -webkit-appearance: auto;
    outline: none;
    color: #000000;
    box-sizing: border-box;
}

.input-field input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(40%) sepia(100%) saturate(500%) hue-rotate(120deg);
}

.input-field input:focus,
.input-field select:focus {
    border: 2px solid #1cd679;
}

.input-field input:focus~label,
.input-field input:not(:placeholder-shown)~label,
.input-field select:focus~label,
.input-field select:not([value=""])~label {
    top: 0;
    transform: translate(0, -50%);
    font-size: 12px;
    left: 3%;
    background: #ffffff;
    padding: 0 10px;
    color: #00be20;
    font-weight: 600;
}

.table-wrapper {
    width: 100%;
    height: calc(100% - 100px);
    overflow: scroll;
    overflow-x: auto;
    font-size: 12px;
}

.table-wrapper::-webkit-scrollbar {
    width: 8px;
    /* vertical scrollbar */
    height: 8px;
    /* horizontal scrollbar */
}

.table-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* scrollbar track color */
    border-radius: 0px;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background: #4CAF50;
    /* scrollbar thumb color */
    border-radius: 0px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* hover effect */
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

thead {
    position: sticky;
    top: 0;
    background: #ffffff;
}

th,
td {
    border-bottom: 1px solid #ddd;
    padding: 8px 12px;
    text-align: center;
}

.pagination-wrapper {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.showing-info {
    width: max-content;
}

.selected-info {
    width: max-content;
}

.page-buttons {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 3%;
}

.page-buttons span {
    white-space: nowrap;
}

.action-button {
    margin-right: 8px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    color: #00be20;
}

.skeleton {
    height: 14px;
    width: 100%;
    background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: skeleton-loading 1.2s infinite;
    border-radius: 4px;
}

@keyframes skeleton-loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}