.banner {
    width: 100%;
    height: max-content;
}

.banner img {
    width: 100%;
    height: max-content;
    object-fit: cover;
}

.product-label {
    font-size: 35px;
    padding: 20px;
    margin: 0 0 30px 0;
    text-align: center;
}

.product-wrapper {
    max-width: 980px;
    margin: 0 auto;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
}

.product {
    height: 320px;
    width: 175px;
    border: 1px solid #dde0e5;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 10% 10% 20%;
}

.product img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-name {
    padding: 0 10px;
    font-size: 14px;
    color: #000;
    text-align: center;
}

.product-price {
    padding: 0 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.cart-button {
    background-color: #FE6F3E;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    padding: 10px 20px;
    height: max-content;
    width: max-content;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
}

.out-of-stock-button {
    background-color: #ddd;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    padding: 10px 20px;
    height: max-content;
    width: max-content;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
}

.main {}

.footer {}