.wrapper {
    height: 100vh;
    width: 100%;
}

.header {
    background-color: #21415b;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
}

.logo {
    width: 30px;
}

.logo img {
    width: 100%;
}

.logout {
    color: #fff;
    cursor: pointer;

}

.main-wrapper {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100%;
    height: 90%;
    width: 100%;
}

.sidebar {
    background-color: #e0e0e0;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.tab {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #d0d0d0;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s ease;
}

.tab:hover {
    background-color: #21415b;
    color: #fff;
}

.main {
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.footer {
    background-color: #f1f1f1;
    text-align: center;
    font-size: 14px;
    width: 100%;
    height: 5%;
}